/*
0 - 600px:  Phone
600px - 900px:  Tablet portrait
900px - 1200px: Tablet landscape
[1200ps -1800px]:   Normal styles
1800 + :    Big desktop
*/
.text-center {
  text-align: center; }

.u-margin-bm-sm {
  margin-bottom: 2rem; }

.u-margin-bm-bg {
  margin-bottom: 10rem; }

.u-margin-bm-md {
  margin-bottom: 5rem; }

.margin-top-sm {
  margin-top: 2rem; }

.margin-top-bg {
  margin-top: 10rem; }

.margin-top-md {
  margin-top: 5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/dark-wood-texture.jpg);
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden; }

.box {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  position: relative;
  padding: 1rem;
  border-radius: 5px; }
  @media (max-width: 56.25em) {
    .box {
      width: 100%;
      margin: 2rem auto; } }
  @media (max-width: 37.5em) {
    .box {
      width: 90%;
      margin: 2rem auto;
      padding: 2rem;
      border-radius: 5px; } }
  .box--header {
    padding: 2rem 0 3rem 0; }
  .box--icon {
    font-size: 5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -4.5rem;
    width: 8rem;
    height: 8rem;
    background-color: rgba(16, 207, 255, 0.6);
    border-radius: 50%;
    line-height: 8rem; }

.btn {
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 5px;
  display: inline-block;
  font-size: 2.1rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none; }
  .btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
    border-radius: 8%; }
  .btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1.4rem 4rem rgba(16, 207, 255, 0.3);
    cursor: pointer; }
    .btn:hover::after {
      transform: scale(2);
      opacity: 0; }
      @media (max-width: 75em) {
        .btn:hover::after {
          transform: scale(2);
          opacity: 0; } }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 1.4rem 4rem rgba(16, 207, 255, 0.3); }
  .btn--classic {
    color: #fff;
    background-color: #10cfff; }
    .btn--classic::after {
      background-color: #10cfff; }
    @media (max-width: 37.5em) {
      .btn--classic-1 {
        width: 100%; } }
    .btn--classic__load {
      font-size: 1.5rem;
      display: block;
      margin-top: 5rem; }
  .btn--about {
    padding: 1rem 1.3rem;
    font-size: 1.8rem;
    text-transform: lowercase; }

.form {
  width: 100%;
  height: 50rem;
  border-radius: 5px; }
  .form__group {
    padding: 0.7rem; }
  .form__input {
    padding: 1rem;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 1.5rem;
    display: block;
    outline: none;
    border-bottom: 3px solid transparent; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input:focus {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      border-bottom: 3px solid #55c57a; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #ff7730; }
  .form__label {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1.2rem;
    display: block;
    margin-left: 0.8rem;
    transition: all 0.3s;
    color: #fff; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.info {
  text-align: center;
  position: relative; }
  .info--image {
    width: 40rem;
    border-radius: 20%; }
    @media (max-width: 75em) {
      .info--image {
        width: 39rem; } }
    @media (max-width: 56.25em) {
      .info--image {
        width: 35rem; } }
    @media (max-width: 37.5em) {
      .info--image {
        width: 27rem; } }
  .info--about {
    width: 100%; }
  .info--sect {
    width: 100%; }
    .info--sect__heading {
      padding-top: 5rem;
      font-weight: 700;
      font-size: 3rem;
      position: relative;
      color: #10cfffce; }
      @media (max-width: 56.25em) {
        .info--sect__heading {
          padding: 3rem; } }
    .info--sect__heading span {
      font-size: 8rem;
      font-weight: 700;
      text-align: center;
      position: absolute;
      z-index: 0;
      opacity: 0.2;
      left: 0;
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .info--sect__heading span {
          top: 0.1rem; } }
    .info--sect__job-title {
      font-size: 2.5rem;
      color: #10cfffce;
      font-family: 'emoji', sans-serif; }
  .info--text {
    color: #fff;
    line-height: 2.8rem;
    font-size: 1.5rem; }
    @media (max-width: 37.5em) {
      .info--text {
        font-size: 1.5rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  .popup__image {
    width: 100%; }
    .popup__image--1 {
      margin-top: 10rem; }
  .popup__content {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all 0.4s 0.2s; }
  .popup__close {
    color: red;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: -5rem; }
    .popup__close:hover {
      color: #10cfffce; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.navigation {
  width: 20%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  top: 15%;
  border-radius: 10px; }
  @media (max-width: 56.25em) {
    .navigation {
      width: 80%;
      z-index: 28; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    visibility: hidden; }
    @media (max-width: 56.25em) {
      .navigation__button {
        background-color: #fff;
        visibility: visible;
        z-index: 25000000;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 2rem;
        left: 1rem;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer; } }
  @media (max-width: 56.25em) {
    .navigation__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 2.5rem;
      z-index: 15000000;
      left: 1rem;
      background-image: radial-gradient(#10cfff, #10cfffce);
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
      transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); } }
  @media (max-width: 56.25em) {
    .navigation__nav {
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 20000000;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); } }
  .navigation__list {
    list-style: none;
    text-align: center; }
    @media (max-width: 56.25em) {
      .navigation__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none; } }
  @media (max-width: 56.25em) {
    .navigation__item {
      margin: 1rem; } }
  .navigation__link {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 2rem;
    padding: 2rem; }
    .navigation__link:hover {
      font-weight: 100;
      color: #fff; }
    @media (max-width: 56.25em) {
      .navigation__link:link, .navigation__link:visited {
        display: block;
        font-size: 2.5rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: #fff;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 250%;
        transition: all 0.4s; }
      .navigation__link:hover, .navigation__link:active {
        background-position: 100%;
        cursor: pointer;
        color: #10cfffce; } }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    visibility: visible; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg); }
  .navigation__background ~ .navigation__link:active {
    background-color: red; }

@media (max-width: 37.5em) {
  .col-sm-4 {
    width: 100%; } }

.load {
  display: none;
  margin-bottom: 7rem; }

.rada {
  margin: 0 -10rem; }

.school {
  width: 100%;
  text-align: center; }
  .school h3 {
    color: #10cfffce;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .school li {
    padding: 1.4rem; }
  .school li i {
    font-size: 6rem; }
  .school li .la-html5 {
    color: #fa9d86; }
  .school li .la-css3 {
    color: #4747f8; }
  .school li .la-wordpress {
    color: #4fc5f3; }
  .school li .la-js-square {
    color: #f7f738; }
  .school li .la-php {
    color: #879eeb; }
  .school li .la-git-alt {
    color: #ff6347; }
  .school li .la-bootstrap {
    color: #4781ff; }
  .school li .la-sass {
    color: #ed64fafb; }
  .school li .la-react {
    color: #10cfffce; }

@media (max-width: 37.5em) {
  .school-skill {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.side__icon {
  color: #fff;
  position: relative;
  font-size: 5rem;
  padding: 0 0 8rem 2rem;
  top: 2.7rem;
  margin-bottom: 4rem; }
  .side__icon::after {
    content: "";
    position: absolute;
    background: #10cfffce;
    width: 10rem;
    height: 10rem;
    left: -0.4rem;
    top: -2.2rem;
    z-index: -44; }

.side__icon h4 {
  display: inline-block;
  padding-left: 4rem;
  font-weight: 700;
  top: 1rem;
  font-size: 1.7rem; }
  @media (max-width: 56.25em) {
    .side__icon h4 {
      font-size: 1.6rem; } }
  @media (max-width: 37.5em) {
    .side__icon h4 {
      font-size: 1.5rem; } }

.work {
  width: 100%; }
  .work__image {
    width: 100%;
    height: auto;
    margin-bottom: -5rem;
    position: relative; }
    .work__image--class {
      width: 100%;
      height: 100%;
      border-radius: 8px; }
    .work__image--hover {
      position: absolute;
      border-radius: 2rem;
      left: 1.7rem;
      background-color: rgba(0, 0, 0, 0.7);
      height: 90%;
      width: calc(100% - 28px);
      overflow: hidden;
      transition: 0.5s;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 3rem; }
      @media (max-width: 37.5em) {
        .work__image--hover {
          top: 2rem;
          left: 1.6rem; } }
      .work__image--hover-1 {
        position: absolute;
        border-radius: 2rem;
        left: 1.9rem;
        background-color: rgba(0, 0, 0, 0.7);
        height: 90%;
        width: 90%;
        overflow: hidden;
        transition: 0.5s;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 1rem; }
        @media (max-width: 37.5em) {
          .work__image--hover-1 {
            top: 0.8rem;
            left: 1.2rem; } }
      .work__image--hover-1:hover {
        opacity: 1; }
    .work__image:hover .work__image--hover {
      opacity: 1; }
    .work__image--text {
      color: #fff;
      background-color: transparent;
      padding: 3px 10px;
      border: 1px solid #fff;
      white-space: nowrap;
      height: 3.5rem;
      outline: none;
      margin: 9px;
      text-decoration: none; }
      .work__image--text:hover {
        color: #fff;
        font-weight: 100; }
      @media (max-width: 37.5em) {
        .work__image--text {
          height: 3rem;
          padding: 0 5px; } }
    .work__image--text-1 {
      color: #fff;
      background-color: transparent;
      padding: 3px 19px;
      border: 1px solid #fff;
      white-space: nowrap;
      height: 3.5rem;
      outline: none;
      text-decoration: none; }
      .work__image--text-1:hover {
        color: #fff;
        font-weight: 100; }
      @media (max-width: 37.5em) {
        .work__image--text-1 {
          height: 3rem;
          padding: 0 14px; } }

.row:not(:last-child) {
  margin-bottom: 8rem; }

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  padding: 5rem 10rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -5rem; }
  .footer__one {
    width: 100%;
    color: rgba(255, 255, 255, 0.9); }
    @media (max-width: 37.5em) {
      .footer__one {
        text-align: center; } }
  @media (max-width: 37.5em) {
    .footer__one h2 {
      text-decoration: underline;
      font-size: 2.5rem;
      margin-top: 2rem;
      font-weight: 100; } }
  .footer__clyde {
    list-style: none; }
    .footer__clyde--links {
      display: block; }
      .footer__clyde--links::before {
        content: "\00BB";
        font-size: 3rem; }
    .footer__clyde--anchor {
      text-decoration: none;
      color: rgba(16, 207, 255, 0.9);
      font-size: 2rem; }
  .footer__call {
    list-style: none; }
    .footer__call--1 {
      display: block;
      padding: 0 0 2rem 0; }
    .footer__call--2 {
      color: #10cfffce;
      font-size: 3rem; }
  .footer__icons {
    list-style: none; }
    .footer__icons--1 {
      display: inline-block; }
    .footer__icons--2 {
      color: rgba(255, 255, 255, 0.9);
      font-size: 4rem; }
      .footer__icons--2:hover {
        color: #fff; }

@media (max-width: 37.5em) {
  .footer {
    padding: 5rem 3rem; } }

@media (max-width: 56.25em) {
  .content {
    width: 100%; } }

.section {
  background: rgba(0, 0, 0, 0.2);
  color: #fff; }
  .section--content {
    padding: 23rem 0;
    position: relative; }
    @media (max-width: 75em) {
      .section--content {
        padding: 20rem 0; } }
    @media (max-width: 37.5em) {
      .section--content {
        padding: 20rem 0; } }
  .section--heading {
    width: 60%;
    position: absolute;
    top: 15%;
    font-size: 2rem;
    text-align: center;
    padding: 5rem; }
    @media (max-width: 37.5em) {
      .section--heading {
        font-size: 1.5rem;
        padding-top: 12rem;
        width: auto; } }
  .section--text {
    color: #10cfffce;
    font-weight: 700;
    font-size: 3rem;
    box-shadow: 0 1.4rem 9rem rgba(16, 207, 255, 0.3);
    position: relative; }
  .section--image {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0; }
  .section--photo {
    width: 80%;
    float: right;
    border-radius: 50%; }
    @media (max-width: 75em) {
      .section--photo {
        border-radius: 60%;
        width: 34rem; } }
    @media (max-width: 56.25em) {
      .section--photo {
        border-radius: 60%;
        width: 35rem; } }
    @media (max-width: 37.5em) {
      .section--photo {
        width: 15.1rem;
        position: absolute;
        border-radius: 0;
        left: -20%; } }

.section--services {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 5rem 0; }

.section--text span {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
  left: 0;
  right: 0;
  top: -4.6rem; }
  @media (max-width: 75em) {
    .section--text span {
      top: -3rem;
      font-size: 8rem; } }
  @media (max-width: 56.25em) {
    .section--text span {
      top: -1.8rem;
      font-size: 6.5rem; } }

.section--about {
  padding: 5rem 10rem;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 4rem;
  margin-bottom: 4rem; }

.skills {
  background: rgba(0, 0, 0, 0.2); }

.portfolio {
  padding: 5rem 10rem;
  background-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 37.5em) {
  .portfolio {
    padding: 5rem 3rem; } }

.contact {
  padding: 5rem 10rem 6rem 10rem;
  background-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 37.5em) {
  .contact {
    padding: 5rem 3rem; } }
