.btn {
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 8%;
    transition: all .2s;
    display: inline-block;
    font-size: 2.1rem;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    border: none;

    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; 
        left: 0;
        border-radius: 8%;
        z-index: -1;
        transition: all .2s;
    }

    &:hover{
        transform: translateY(-.2rem);
        box-shadow: 0 1.4rem 4rem rgba($color-primary-light, .3);

        &::after{
            transform: scale(2);
            opacity: 0;
        }
    }

    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 1.4rem 4rem rgba($color-primary-light, .3);
    }

    &--classic{
        color: $color-white;
        background-color: $color-primary-light;
        

        &::after{
            background-color: $color-primary-light;
        }
    }
    &--about{
        padding: 1rem 1.3rem;
        font-size: 1.8rem;
        text-transform: lowercase;
    }
} 