.school {
  width: 100%;
  text-align: center;

  h3 {
    color: $color-primary;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  li {
    padding: 1.4rem;
  }

  li i {
    font-size: 6rem;
  }

  li .la-html5 {
    color: #fa9d86;
  }

  li .la-css3 {
    color: rgb(71, 71, 248);
  }

  li .la-wordpress {
    color: rgb(79, 197, 243);
  }

  li .la-js-square {
    color: rgb(247, 247, 56);
  }

  li .la-php {
    color: rgb(135, 158, 235);
  }

  li .la-git-alt {
    color: #ff6347;
  }

  li .la-bootstrap {
    color: #4781ff;
  }

  li .la-sass {
    color: #ed64fafb;
  }

  li .la-react {
    color: $color-primary;
  }
}

@include respond(phone) {
  .school-skill {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
