.side__icon {
  color: $color-white;
  position: relative;
  font-size: 3.5rem;
  padding: 0 0 8rem 2rem;
  top: 2.7rem;
  margin-bottom: 4rem;

  &::after {
    content: "";
    position: absolute;
    background: $color-primary;
    width: 10rem;
    height: 10rem;
    left: -0.4rem;
    top: -2.2rem;
    z-index: -44;
  }
}

.side__icon h4 {
  display: inline-block;
  padding-left: 4rem;
  font-weight: 700;
  top: 1rem;
  font-size: 1.7rem;

  @include respond(tab-port) {
    font-size: 1.6rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
  }
}
