.side{ 
    width: 100%;

<<<<<<< HEAD
    // @include respond(tab-port){
    //     width: 80%;
    // }

=======
>>>>>>> 3f94d7002e884777cb7e1c6839f7230f9be7e830
     &__call{
         color: $color-white;
     }
}
.side__icon{
    color: $color-white; 
    position: relative;
    font-size: 5rem;
    padding: 0 0 8rem 2rem;
    top: 2.7rem;
    margin-bottom: 4rem;
    

    &::after{
        content: "";
        position: absolute;
        background: $color-primary;
        width: 10rem;
        height: 10rem;
        left: -.4rem;
        top: -2.2rem;
        z-index: -44;
<<<<<<< HEAD

        @include respond(tab-port){
            width: 8rem;
            height: 8rem;
        }
    }
}
.side__icon h4{
    display: inline-block;
    position: absolute;
    padding-left: 4rem;
    font-weight: 700;
    top: 1rem;
    white-space: nowrap;
    font-size: 1.7rem;

    @include respond(tab-port){
        padding-left: 1rem;
        font-size: 1.6rem;
    }
    @include respond(phone){
        font-size: 1.5rem;
    }
=======
    }
}
.side__icon h4{
        display: inline-block;
        position: absolute;
        padding-left: 4rem;
        font-weight: 700;
        top: 1rem;
        white-space: nowrap;
        font-size: 1.7rem;
>>>>>>> 3f94d7002e884777cb7e1c6839f7230f9be7e830
}