.work {
  width: 100%;

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: -5rem;
    position: relative;

    &--class {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    &--hover {
      @include hover;

      top: 3rem;

      &-1 {
        @include hover;

        top: 1rem;
      }

      &-1:hover {
        opacity: 1;
      }
    }

    &:hover &--hover {
      opacity: 1;
    }

    &--text {
      color: $color-white;
      background-color: transparent;
      padding: 3px 10px;
      border: 1px solid $color-white;
      white-space: nowrap;
      height: 3.5rem;
      outline: none;
      margin: 9px;
      text-decoration: none;
    }

    &--text-1 {
      color: $color-white;
      background-color: transparent;
      padding: 3px 19px;
      border: 1px solid $color-white;
      white-space: nowrap;
      height: 3.5rem;
      outline: none;
      text-decoration: none;
    }
  }
}
