.work {
  width: 100%;

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: -5rem;
    position: relative;

    &--class {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    &--hover {
      @include hover;
      top: 1rem;
      
      &-1 {
        @include hover-1;

        top: 1rem;
      }

      &-1:hover {
        opacity: 1;
      }

      &-p {
        color: $color-white;
        text-align: center;
        width: 90%;
        padding-bottom: 1rem;
      }
    }

    &:hover &--hover {
      opacity: 1;
    }

    &--text {
      color: $color-white;
      background-color: transparent;
      padding: 3px 10px;
      border: 1px solid $color-white;
      white-space: nowrap;
      height: 3.5rem;
      outline: none;
      margin: 9px;
      text-decoration: none;

      &:hover {
        color: #fff;
        font-weight: 100;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary-light 50%);
        background-size: 250%;
        transition: all 0.5s;
        
        &:hover {
          background-position: 100%;
        }
      }

      @include respond(phone) {
        height: 3rem;
        padding: 3px 6px;
      }
    }

    &--text-1 {
      color: $color-white;
      background-color: transparent;
      padding: 3px 19px;
      border: 1px solid $color-white;
      white-space: nowrap;
      height: 3.5rem;
      outline: none;
      text-decoration: none;

      &:hover {
        color: #fff;
        font-weight: 100;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary-light 50%);
        background-size: 250%;
        transition: all 0.5s;
        
        &:hover {
          background-position: 100%;
        }
      }

      @include respond(phone) {
        height: 3rem;
        padding: 3px 6px;
      }
    }
  }
}
